<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                <strong>S.T</strong> by <a href="https://github.com/STnetwork">STnetwork</a>.
            </p>
            <p class="is-size-7">
                Systems & Networks.
            </p>
        </div>
    </div>
</footer>
